Flask==1.1.2
flask_sqlalchemy>=2.0.0
gunicorn==20.1.0
jupyter==1.0.0
numpy==1.18.5
matplotlib>=3.3.4
pandas @ file:///C:/ci/pandas_1592833613419/work
pandocfilters==1.4.2
pandas @ file:///C:/ci/pandas_1608056614942/work
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
requests-oauthlib==1.3.0
scikit-image==0.16.2
scikit-learn @ file:///C:/ci/scikit-learn_1614446902030/work
scipy @ file:///C:/ci/scipy_1597675683670/work
seaborn==0.11.1
SQLAlchemy>=1.3.11
